.ab_img_div {
  text-align: center;
}

.ab_img {
  width: 40vw;
  text-align: center;
}

.ab_main {
  text-align: center;
}

.ab_head1 {
  font-family: "Readex Pro", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 1);
}

.ab_p1 {
  font-family: "Readex Pro", sans-serif;
}

.ab_p2 {
  text-align: center;
}

.social {
  width: 10vw;
  padding-right: 1rem;
}
/* .social {
  font-size: 1.5rem;
  padding-right: 1rem;
  color: rgb(192, 118, 192);
  font-weight: 500;
} */

.home_img {
  width: 7vw;
  margin-bottom: 50px;
}

/* --------------------------------------- */
/* //* For Tabs */
@media (max-width: 768px) and (min-width: 426px) {
  .ab_main {
    padding-left: 25px;
    padding-right: 25px;
  }
  .social {
    width: 6vw;
  }

  .home_img {
    width: 4vw;
  }
}

/* //* For Laptops - 1024px */
@media (max-width: 1024px) and (min-width: 769px) {
  #ab_parent1 {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .ab_img_div {
    width: 30vw;
  }

  .ab_img {
    width: 35vw;
  }

  .ab_main {
    width: 55vw;
    margin-top: 20px;
  }

  .ab_head1 {
    margin-bottom: 20px;
  }

  .ab_p1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .social {
    width: 6vw;
  }

  .home_img {
    width: 4vw;
  }
}

/* //*For Laptops - 2k */
@media (max-width: 1440px) and (min-width: 1025px) {
  #ab_parent1 {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .ab_img_div {
    width: 30vw;
  }

  .ab_img {
    width: 30vw;
  }

  .ab_main {
    width: 55vw;
    margin-top: 20px;
  }

  .ab_head1 {
    margin-bottom: 20px;
  }

  .ab_p1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .social {
    width: 4vw;
  }

  .home_img {
    width: 4vw;
  }
}

/* //*For Laptops - 4k */
@media (max-width: 2560px) and (min-width: 1441px) {
  #ab_parent1 {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
  }

  .ab_img_div {
    width: 25vw;
  }

  .ab_img {
    width: 25vw;
  }

  .ab_main {
    width: 55vw;
    margin-top: 20px;
  }

  .ab_head1 {
    margin-bottom: 20px;
  }

  .ab_p1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .social {
    width: 3vw;
  }

  .home_img {
    width: 3vw;
  }
}
