.img_div {
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}

.img_dp {
  border-radius: 50%;
  width: 40vw;
}

.text_div {
  padding-top: 40px;
  text-align: center;
}

.parent_1_p1 {
  font-weight: 500;
  font-size: 2em;
  font-family: "Readex Pro", sans-serif;
}

.parent_1_p1 span {
  color: blueviolet;
}

.parent_1_p2 {
  font-size: 1.2rem;
  font-family: "Readex Pro", sans-serif;
}

.typ {
  color: coral;
  margin-left: 2px;
  font-weight: 500;
}

.parent_1_p3 {
  font-size: 1rem;
  font-family: "Readex Pro", sans-serif;
}

.parent_1_p3_part2 {
  display: none;
  font-size: 1rem;
  font-family: "Readex Pro", sans-serif;
}

#parent_2 {
  text-align: center;
  padding-top: 2rem;
}

.parent_2_p1 {
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
}

.i1,
.i2 {
  font-size: 1.2rem;
  padding-right: 1rem;
  color: rgb(211, 120, 211);
}

.about_img {
  width: 10vw;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.code_img {
  width: 10vw;

  margin-bottom: 50px;
  margin-top: 30px;
}

/* //* --------------------------------------- */
/* //* For Tabs */
@media (max-width: 768px) and (min-width: 426px) {
  .img_dp {
    width: 30vw;
  }

  .parent_1_p3_part2 {
    display: contents;
  }

  .p3 {
    font-size: 1.2rem;
  }

  .code_img,
  .about_img {
    width: 6vw;
  }
}

/* //*------------------------------- */
/* //* For Laptops */
@media (max-width: 1024px) and (min-width: 769px) {
  #parent_1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
  }

  .img_dp {
    width: 30vw;
    margin-left: 6vw;
  }

  .text_div {
    width: 55vw;
    padding-left: 15px;
    padding-right: 15px;
  }

  .parent_1_p1 {
    font-size: 2.5rem;
  }

  .parent_1_p2 {
    font-size: 1.5rem;
  }

  .parent_1_p3 {
    font-size: 1.2rem;
  }

  .parent_1_p3_part2 {
    display: contents;
    font-size: 1rem;
  }

  #parent2 {
    margin-top: 20rem;
  }

  .parent_2_p1 {
    font-size: 1.4rem;
  }

  .about_img {
    width: 5vw;
  }
  .code_img {
    width: 5vw;
  }
}

/* //* ------------------------------- */
/* //* For Laptops  -  2K */

@media (max-width: 1440px) and (min-width: 1025px) {
  #parent_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 80px;
  }
  .img_div {
    width: 50vw;
  }

  .text_div {
    width: 50vw;
  }
  .img_dp {
    width: 25vw;
  }

  .parent_1_p1 {
    font-size: 2.5rem;
  }

  .parent_1_p2 {
    font-size: 1.5rem;
  }

  .parent_1_p3 {
    font-size: 1.2rem;
  }

  .parent_1_p3_part2 {
    display: contents;
    font-size: 1.2rem;
  }

  #parent_2 {
    margin-top: 30px;
  }

  .parent_2_p1 {
    font-size: 1.4rem;
  }

  .about_img {
    width: 4vw;
  }
  .code_img {
    width: 4vw;
  }
}

/* //* ------------------------------- */
/* //* For Laptops  -  4K */

@media (max-width: 2560px) and (min-width: 1441px) {
  #parent_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10rem;
    margin-top: 3rem;
  }
  .img_div {
    width: 50vw;
  }

  .text_div {
    width: 50vw;
  }
  .img_dp {
    width: 25vw;
  }

  .parent_1_p1 {
    font-size: 2.5rem;
  }

  .parent_1_p2 {
    font-size: 1.5rem;
  }

  .parent_1_p3 {
    font-size: 1.2rem;
  }

  .parent_1_p3_part2 {
    display: contents;
    font-size: 1.2rem;
  }

  #parent_2 {
    margin-top: 3rem;
  }

  .parent_2_p1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .about_img {
    width: 4vw;
  }
  .code_img {
    width: 4vw;
  }
}
