#pro_parent_1 {
  margin-top: 2.5rem;
  text-align: center;
}

.pro_parent_1_header1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.pro_parent_1_header1 .i1 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.prs {
  border-radius: 20px;
  width: 35vw;
  margin-right: 20px;
  margin-bottom: 15px;
  /* transition: box-shadow 0.3s ease-in-out; */
}

#pro_parent_2 {
  text-align: center;
  padding-top: 3rem;
}

.i2 {
  font-size: 1.5rem;
}

/* ----------- MQ -------------- */
/* --------------------------------------- */
/* //* For Tabs */
@media (max-width: 768px) and (min-width: 426px) {
  .prs {
    width: 25vw;
  }

  .pro_home_img {
    width: 5vw;
    margin-bottom: 2rem;
  }
}

/* ------------------------------- */
/* //* For Laptops  - 1024px*/
@media (max-width: 1024px) and (min-width: 769px) {
  .prs {
    width: 20vw;
  }
  .pro_home_img {
    width: 5vw;
    margin-bottom: 2rem;
  }
}

/* ------------------------------- */
/* //* For Laptops - 2K */
@media (max-width: 1440px) and (min-width: 1025px) {
  #pro_parent_1 {
    margin-top: 5rem;
  }
  .pro_parent_1_header1 {
    margin-bottom: 3rem;
  }
  .prs {
    width: 15vw;
  }

  .pro_home_img {
    width: 5vw;
  }
}

/* ------------------------------- */
/* //* For Laptops - 4K */
@media (max-width: 2560px) and (min-width: 1441px) {
  #pro_parent_1 {
    margin-top: 5rem;
  }
  .pro_parent_1_header1 {
    margin-bottom: 3rem;
  }
  .prs {
    width: 13vw;
  }

  .pro_home_img {
    margin-top: 3rem;
    width: 4vw;
  }
}
